<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>修改-{{ author.name }}</title>
</head>
<body>
  <form action="">
    <p>
      姓名:
      <input type="text" name="name" value="{{ author.name }}">
    </p>
    <p>
      年龄:
      <input type="text" name="age" value="{{ author.age }}">
    </p>
    <p>
      邮箱:
      <input type="email" name="email" value="{{ author.email }}">
      <input type="hidden" name="id" value="{{ author.id }}">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
</body>
</html>